extends layout

block content
  h1= title
  - let mangoes= results
  div(class="container-fluid mt-3")
  div(class="row")
    each mango,index in mangoes
       - let destination = `dispatch(\"/mango/update?id=${mango._id}\")`
          div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder")) #{mango.Mangoname} - #{mango.type} - #{mango.price} 
            button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
      function dispatch(path){
      window.location.href=path
      }
      function buy(itemNo)
      {
      alert(`You purchased Item ${itemNo+1}`)
      }
  